<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <!-- <header> -->
    <!-- <button id="theme-toggle" class="mode-toggle" aria-label="Toggle light/dark mode">
      <span class="icon">🌙</span>
    </button> -->
  <!-- </header> -->
<!-- Introduction Section -->
  <!-- <div id="retro-background">
 <section id="introduction" style="display: none;">
   <div class="container">
     <h1>{{ site.title }}</h1>
     <p>{{ site.description }}</p>
     <img src="path_to_your_profile_picture.jpg" alt="Your Name" class="profile-picture">
   </div>
 </section> -->

<!-- Navigation Menu -->
<!-- <nav>
  
  <ul>
    <li><button class="button" id="load-home">Home</button></li> -->
    <!-- <li><button class="button" id="load-games">Games</button></li> -->
    <!-- <li><button class="button" id="load-about">About</button></li>
  </ul>
</nav> -->

  <!-- Your content here -->
  
    <div id="content">
      {{ content }}
    </div>

  <!-- Contact Information -->
<section id="contact">
  <div class="container">
    <h2>Get In Touch</h2>
    <div class="contact-info">
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <a href="mailto:jamessmith94135@gmail.com">jamessmith94135@gmail.com</a>
      </div>
      <div class="contact-item">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/james-s-66067b176/" target="_blank">LinkedIn Profile</a>
      </div>
      <div class="contact-item">
        <i class="fab fa-github"></i>
        <a href="https://github.com/JSmith-LDG" target="_blank">GitHub Profile</a>
      </div>
    </div>
  </div>
</section>
</div>
  <!-- <script src="{{ "/assets/index.js" | relative_url }}"></script> -->
  <script src="{{ base.url | prepend: site.url }}/assets/js/index.js"></script>
</body>
</html>